
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    body {
        @apply dark:bg-black dark:text-white bg-white
    }
}

body{
    height: 200vh;
    overflow-x: hidden;
}
h1{
    font-size:  1.6rem;
}
h2{
    font-size: 1.4rem;
}
h3{
    font-size: 1.2rem;
}